@media screen and (min-width: 500px) {
    body {
    background-color: rgb(223, 246, 242);
    font-family: 'Poppins', sans-serif;
    padding: 16px;
    scroll-behavior: smooth;
}
.name {
    color: rgb(97, 3, 69);
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 40px;
    position: fixed;
    top: 0;
}
.portrait {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(44, 160, 141);
    height: 400px;
    width: auto;
}
.welcome-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.img-container {
    margin-top: 30px;
}
.bio-container {
    color:rgb(22, 80, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bio-par {
    width: 400px;
    text-align: justify;
    font-size: 18px;
    margin-top: 0px;
    color: rgb(22, 80, 70);
}
.greeting {
    font-size: 36px;
}
span {
    font-weight: bold;
    color: rgb(97, 3, 69);
}
a {
    text-decoration: none;
    color:rgb(22, 80, 70)
}
#recent-work-link {
    color: rgb(97, 3, 69);
}
.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
    height: 100px;
}
.icon {
    width: 60px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    transition: width .75s, height .75s;
}
.icon:hover {
    cursor: pointer;
    width: 80px;
    height: auto;
}
.project-header {
    color: rgb(97, 3, 69);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 26px;
}
.footer-icon {
    width: 40px;
    height: auto;
    padding: 20px;
    transition: width .75s, height .75s;
}
.footer-icon:hover {
    cursor: pointer;
    width: 50px;
    height: auto;
}
.project-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    justify-content: space-evenly;
    align-items: center;
}
.art-break-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(152, 8, 81);
    height: 400px;
    width: auto;
}
.big-tex-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(225, 228, 89);
    height: 290px;
    width: auto;
}
.allcity-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(88, 170, 246);
    height: 450px;
    width: auto;
}
.project-link-container {
    display: flex;
    justify-content: space-around;
}
.project-link {
    display: flex;
    transition: color 1s;
    background-color: rgb(97, 3, 69);
    color: white;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.project-link:hover {
    opacity: .8;
    box-shadow: 5px 5px 5px rgb(109, 100, 106);
}
h3 {
    font-size: 28px;
    text-align: right;
    color: rgb(22, 80, 70);
}
footer {
    text-align: center;
    font-size: 10px;
    padding-top: 40px;
    font-size: 16px;
}
p {
    font-family: 'Bitter', serif;
}
.footer-icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    height: 100px;
}

/* mobile styles
@media screen and (max-width: 375px) {
    body {
        margin: 10px;
    } 
    .name {
        text-align: right;
    }
} */

}