@media only screen and (max-width: 880px) {
    body {
    background-color: rgb(223, 246, 242);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    scroll-behavior: smooth;
}
#main-header-container {
    background-color: rgba(223, 246, 242, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
}
.name {
    color: rgb(97, 3, 69);
    text-align: center;
    font-size: 26px;
    margin-bottom: 0px;
}
.portrait {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(44, 160, 141);
    padding-top: 15px;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
    margin-top: 30px;
    margin-bottom: 20px;
}
.bio-container {
    color:rgb(22, 80, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bio-par {
    width: 300px;
    text-align: justify;
    font-size: 18px;
    margin-top: 0px;
    color: rgb(22, 80, 70);
}
.greeting {
    text-align: center;
    font-size: 26px;
}
span {
    font-weight: bold;
    color: rgb(97, 3, 69);
}
a {
    text-decoration: none;
    color:rgb(22, 80, 70)
}
#recent-work-link {
    color: rgb(97, 3, 69);
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
.icon {
    width: 40px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: width .75s, height .75s;
}
.project-header {
    color: rgb(97, 3, 69);
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.footer-icon {
    width: 20px;
    height: 20px;
    padding: 20px;
    transition: width .75s, height .75s;
}
.project-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
}
.art-break-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(152, 8, 81);
}
.big-tex-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(225, 228, 89);
}
.allcity-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(88, 170, 246);
}
.project-link-container {
    display: flex;
    justify-content: space-around;
}
.proj-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-link {
    display: flex;
    transition: color 1s;
    background-color: rgb(97, 3, 69);
    color: white;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-inline: 10px;
}
h3 {
    font-size: 26px;
    text-align: center;
    color: rgb(22, 80, 70);
}
footer {
    text-align: center;
    font-size: 12px;
}
p {
    font-family: 'Bitter', serif;
}
.footer-icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
#reverse-container {
    display: flex;
    flex-direction: column-reverse;
}

}