body {
    background-color: rgb(223, 246, 242);
    font-family: 'Poppins', sans-serif;
}
.name {
    color: rgb(97, 3, 69);
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 40px;
}
.portrait {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(44, 160, 141);
    margin-left: 90px;
}
.welcome-container {
    display: flex;
}
.img-container {
    margin-top: 30px;
}
.bio-container {
    width: 400px;
    color:rgb(22, 80, 70);
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 120px;
}
.bio-par {
    width: 335px;
    text-align: justify;
    font-size: 18px;
    margin-top: 0px;
    color: rgb(22, 80, 70);
}
.greeting {
    font-size: 36px;
}
span {
    font-weight: bold;
    color: rgb(97, 3, 69);
}
a {
    text-decoration: none;
    color:rgb(22, 80, 70)
}
.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: center;
    margin-bottom: 60px;
}
.icon {
    width: 60px;
    height: auto;
    padding: 20px;
}
.icon:hover {
    cursor: pointer;
    width: 80px;
    height: auto;
}
.project-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.art-break-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(152, 8, 81);
}
.big-tex-img {
    border-radius: 30px;
    box-shadow: 25px 25px rgb(225, 228, 89);
}
.project-link-container {
    display: flex;
    justify-content: space-evenly;
}
.project-link:hover {
    color:rgb(97, 3, 69);
    font-size: 20px;
}
h3 {
    font-size: 28px;
    text-align: right;
    color: rgb(22, 80, 70);
}
footer {
    padding-top: 40px;
    text-align: center;
}
.proj-text-container {
    margin-left: 90px;
    margin-right: 120px;
}
